<%= form_with(model:[post, comment]) do |f| %>
  <!--エラーメッセージ-->
  <div id="comments-error">
    <%= render 'public/comments/error_messages', model: f.object %>
  </div>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>