<div style="text-align: center; margin: 30px 0; color: white; background-color: rgba(0,0,0,0.5);">
  <h1><strong>SUSHIPへようこそ</strong></h1>

  <p class="text-center">このサイトではお寿司好きがお店の情報や感想を投稿し、<br>
  共有していただけます。
  </p>
</div>